<page :params="acesso">
    <div class="layout-px-spacing">

        <div class="layout-top-spacing" v-if="usuario">
            <div class="row">
    
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
    
                    <div class="section general-info">
                        <div class="info">
                            <h6>{{"Visão Geral de Leads"}}</h6>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label>Temperatura</label>
                                    <select v-model="selectedTemperatura" class="form-select">
                                        <option v-for="m in statusTemperatura" :value="m.value">{{ m.nome }}</option>
                                    </select>
    
                                </div>
                                <div class="col">
                                    <label>Funil</label>
                                    <select v-model="selectedProcesso" class="form-select">
                                        <option v-for="s in processos" :value="s.id">{{s.title}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Previsão de Fechamento</label>
                                    <input v-model="seletedPrevisao" class="form-control" type="date" />
                                </div>
    
                                <div class="col">
                                    <button type="button" class="btn " @click="clearFiltro">Limpar Filtro</button>
                                </div>
    
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Motivos</label>
    
                                    <select v-model="selectedMotivos" class="form-select">
                                        <option v-for="s in motivos" :value="s.id">{{s.descricao}}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Vendedor</label>
                                    <select v-model="selectedVendedor" class="form-select">
                                        <option v-for="s in vendedor" :value="s.id">{{s.nome }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Produto</label>
                                    <select v-model="selectedProdutos" class="form-select">
                                        <option v-for="s in produtos" :value="s.id">{{s.nome }}</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary" @click="btnFilter">Filtrar</button>
                                </div>
    
                            </div>
    
                        </div>
    
                        <tasks :task_list="data"></tasks>
                        <div class="col-lg-12" style="padding-top: 50px;">
                            <div class="row">
                                <div class="col-lg-11 mx-auto">
                                    <div class="row">
                                        <template v-if="showTabela">
                                            <DxDataGrid :data-source="data" key-expr="id" :allow-column-resizing="true"
                                                :column-resizing-mode="'nextColumn'" :column-min-width="50"
                                                :column-auto-width="true" :allow-column-reordering="true"
                                                :show-column-lines="true" :show-row-lines="true" :show-borders="true"
                                                :row-alternation-enabled="true">
    
                                                <!-- CONFIGURACAO PADRAO -->
                                                <DxPaging :page-size="10" />
    
                                                <!-- COLUNAS -->
                                                <DxColumn caption="ID" data-field="id" />
                                                <DxColumn caption="Lead" data-field="title" />
                                                <DxColumn caption="Empresa" data-field="empresa" />
                                                <DxColumn caption="Valor Inicial" data-field="valor_Inicial" />
                                                <DxColumn caption="Valor Final" data-field="valor_Final" />
                                                <DxColumn caption="Descrição" data-field="description" />
                                                <DxColumn caption="Nome Contato" data-field="contato_nome" />
                                                <DxColumn caption="Telefone" data-field="contato_numero" />


                                             
                                                <DxColumn caption="Temperatura" data-field="status" />
    
                                                <DxColumn caption="Ações" cell-template="acoesTemplate" />
    
                                                <template #acoesTemplate="{ data }">
    
                                                    <div>
                                                        <button type="button" class="btn rounded-circle btn-success" @click="ver(data)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                                              </svg>
                                                        </button>
    
    
                                                    </div>
                                                </template>
    
    
                                                <!-- CONFIGURACAO PADRAO -->
                                                <DxColumnChooser :enabled="true" />
                                                <DxFilterRow :visible="true" />
                                                <DxHeaderFilter :visible="true" />
                                                <DxGroupPanel :visible="true" />
                                                <DxPager :visible="true" :display-mode="'full'"
                                                    :show-page-size-selector="true" :show-info="true"
                                                    :show-navigation-buttons="true" :allowed-page-sizes="'true'" />
                                                <DxExport :enabled="true" :allow-export-selected-data="false" />
    
                                            </DxDataGrid>
                                        </template>
    
                                        <div v-if="!showTabela && isLoading">
                                            <div class="loader dual-loader mx-auto"></div>
                                        </div>
    
    
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</page>
