<page :params="acesso">
    <div class="layout-px-spacing">
        <div class="layout-top-spacing" v-if="usuario">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    <div class="section general-info">
                        <div class="btn-new">
                            <button type="button" class="btn rounded-circle btn-success" v-if="!add &&  acesso.editar"
                                @click="create">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                  </svg>
                            </button>

                        </div>

                        <div class="info">
                            <h6>{{add ? page : "CLIENTES"}}</h6>
                            <div class="panel-body simple-tab tabs" :params="params" v-if="add">
                                <ul class="nav nav-tabs mb-3 mt-3" id="simpletab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true">Home</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="historico-tab" data-bs-toggle="tab" href="#historico"
                                            role="tab" aria-controls="historico" aria-selected="false">Histórico</a>
                                    </li>

                                </ul>
                                <div class="tab-content" id="simpletabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <add :params="params" v-if="add" />
                                    </div>
                                    <div class="tab-pane fade show active" id="endereco" role="tabpanel"
                                        aria-labelledby="endereco-tab">
                                        <endereco :params="params" />
                                    </div>
                                    <div v-if="params.id" class="tab-pane fade" id="historico" role="tabpanel"
                                        aria-labelledby="historico-tab">
                                        <form class="form-horizontal">
                                            <textarea v-model="historicoDescricao" class="form-control mb-4"
                                                rows="3"></textarea>
                                            <button type="button" class="btn btn-primary" @click="sendHistorico">
                                                Salvar Histórico
                                            </button>
                                        </form>
                                        <hr>
                                        <div class="container" v-if="(params.historico_cliente).length > 0">

                                            <historicoVue :title="'Histórico Cliente'"
                                                :historico="params.historico_cliente" />

                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-lg-11 mx-auto">
                                <div class="row">

                                    <template v-if="!add && showTabela">
                                        <DxDataGrid :data-source="data" key-expr="id" :allow-column-resizing="true"
                                            :column-resizing-mode="'nextColumn'" :column-min-width="50"
                                            :column-auto-width="true" :allow-column-reordering="true"
                                            :show-column-lines="true" :show-row-lines="true" :show-borders="true"
                                            :row-alternation-enabled="true">



                                            <!-- CONFIGURACAO PADRAO -->
                                            <DxPaging :page-size="10" />

                                            <!-- COLUNAS -->



                                            <DxColumn caption="Nome" data-field="nome" />
                                            <DxColumn caption="Sobrenome" data-field="sobrenome" />
                                            <DxColumn caption="Email" data-field="email" />
                                            <DxColumn caption="CPF" data-field="cpf" />
                                            <DxColumn caption="Telefone" data-field="telefone" />



                                            <DxColumn caption="Ações" cell-template="acoesTemplate" />

                                            <template #acoesTemplate="{ data }">
                                                <div>
                                                    <button v-if="acesso.editar" type="button"
                                                        class="btn rounded-circle btn-success" @click="edit(data)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path
                                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                    </svg>
                                                    </button>
                                                    <button v-if="acesso.deletar" type="button"
                                                        class="btn rounded-circle btn-danger" @click="delet(data)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                            fill="currentColor" class="bi bi-trash3"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </template>

                                            <!-- CONFIGURACAO PADRAO -->
                                            <DxColumnChooser :enabled="true" />
                                            <DxFilterRow :visible="true" />
                                            <DxHeaderFilter :visible="true" />
                                            <DxGroupPanel :visible="true" />
                                            <DxPager :visible="true" :display-mode="'full'"
                                                :show-page-size-selector="true" :show-info="true"
                                                :show-navigation-buttons="true" :allowed-page-sizes="'true'" />
                                            <DxExport :enabled="true" :allow-export-selected-data="false" />

                                        </DxDataGrid>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="!showTabela">
            <div class="loader dual-loader mx-auto"></div>
        </div>

    </div>
    <div class="account-settings-footer" v-if="add">
        <div class="as-footer-container">
            <button type="button" class="btn btn-success" @click="save">Salvar</button>
            <button type="button" class="btn btn-danger" @click="back">Cancelar</button>
        </div>
    </div>
</page>